<main>
  <div class="container">
    <div class="row">

    <div class="col-lg-2">
      <%= render 'admins/adminside', admin: @admin %>
    </div>

    <div class="col-lg-10">

<h2>Excel出力</h2>

<%= link_to "Excel出力", admins_excels_path(@workers, format: :xlsx) %>


    </div>
  </div>
</main>
