<main>

  <%= render 'workers/workerside', worker: @worker %>

<h1>在席一覧</h1>

    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>所属</th>
          <th>氏名</th>
          <th>出退勤</th>
          <th>事由</th>
        </tr>
      </thead>

      <% @workers.each do |worker| %>
      <tboby>
        <tr>
          <td>
            <%= worker.department.department_name %>
          </td>
          <td>
            <%= worker.last_name %><%= worker.first_name %>
          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
      </tbody>
      <% end %>
    </table>


</main>
