@use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';

main {
  width: auto;
  margin: 40px;
}

header{
  width: 100%;
  background: #595757;
  color: #fff;
}

body {
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
  padding: 20px 0;
  width: 100%;
  background: #595757;
  color: #fff;
  text-align: center;
}

.login-box{
  margin-left: 20%;
}

.login_contents{
  margin: 30px 20px;
}

.login_table td {
  padding-top: 10px; /* セルの上側の余白を追加する */
  padding-bottom: 10px; /* セルの下側の余白を追加する */
}

.login_bottun{
  margin: 20px 230px;
  text-align: right;
}

.password_mail_box{
  margin: 20px;
}

.engraving_field{
  display: flex;
  justify-content: space-evenly;
  margin: 60px 0;
}

.w-180px {
  width: 180px !important;
  height: 80px !important;
}

.clock1{
  font-size: 40px;
  text-align: center;
}

.clock2{
  font-size: 60px;
  text-align: center;
}

.information_box{
  width: 90%;
  margin: 30px auto;
  padding: 30px;
  background-color: #ffefd5;
  border: 2px solid;
  border-color: #595757;
  border-radius: 8px;
}

.element_new_field{
  margin: 30px 20px;
}

.element_edit_field{
  margin: 30px 20px;
}

.worker_field{
  margin: 30px 20px;
}

.error_message{
  margin: 10px 15px;
  color: red;
}

.succses_message{
  margin: 10px 15px;
}

.worker_show_field{
  margin: 0 30px 20px;
}

.worker_edit_link{
  padding-left: 60%;
  margin-bottom: 10px;
}

.month_select{
  margin-top: 20px;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
}

.month_select_box{
  display: flex;
  justify-content: space-between;
}

.action{
  display: flex;
  justify-content: flex-end;
}

.select_tag_title{
  margin-right: 20px;
}

.select_tag{
  margin-right: 10px;
  font-size: large;
}

.search-box{
  margin-top: 20px;
  margin-left: 20px;
}

.search{
  display: flex;
}

.year_show{
  margin-top: 20px;
  margin-right: 50px;
  font-size: x-large;
  display: flex;
  justify-content: space-between;
}

.new_bottun{
  margin-right: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end

}

.sat {
  background-color: #E1F0F6;
}

.sun {
  background-color: #FBF1F5;
}

.data_output_box {
  margin-top: 50px;
}

.data_output {
  display: flex;
}

.output_month {
  margin: 0 40px;
  font-size: x-large;
  font-weight: bold;
}

.output {
  margin: 0 40px;
  font-size: x-large;
  // font-weight: bold;
}

.worker_output {
  margin: 30px 40px;
  font-size: large;
  // font-weight: bold;
}

.field_with_errors {
  display: inline;
}
