@use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';

main {
  width: auto;
  margin: 40px;
}

header{
  width: 100%;
  background: #595757;
  color: #fff;
}

body {
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
  padding: 20px 0;
  width: 100%;
  background: #595757;
  color: #fff;
  text-align: center;
}

.login-box{
  margin-left: 20%;
}

.engraving_field{
  display: flex;
  justify-content: space-evenly;
  margin: 60px 0;
}

.w-180px {
  width: 180px !important;
  height: 80px !important;
}

.information_box{
  width: 90%;
  margin: 30px auto;
  padding: 30px;
  background-color: #ffefd5;
  border: 2px solid;
  border-color: #595757;
  border-radius: 8px;
}

.element_new_field{
  margin: 30px 20px;
}

.element_edit_field{
  margin: 30px 20px;
}

.worker_field{
  margin: 30px 20px;
}

.worker_show_field{
  margin: 0 30px 20px;
}

.worker_edit_link{
  padding-left: 60%;
  margin-bottom: 10px;
}

.month_select{
  margin-top: 20px;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
}

.month_select_box{
  display: flex;
  justify-content: space-between;
}

.action{
  display: flex;
  justify-content: flex-end;
}

.form-control{
  margin-right: 20px;
}

.search-box{
  margin-top: 20px;
  margin-left: 20px;
}

.search{
  display: flex;
}