<main>
  <div class="container">
    <div class="row">

    <div class="col-lg-2">
      <%= render 'admins/adminside', admin: @admin %>
    </div>

    <div class="col-lg-10">
      <h2><%= @worker.last_name %><%= @worker.first_name %>　タイムカード</h2>

      <%= link_to "編集する", edit_admins_attendance_path(@worker.id), class:"btn btn-sm btn-success" %>

        <p>月選択</p>

      <div class="department_list">
        <table class="table mt-5">
            <thead>
              <tr>
                <th>日付</th>
                <th>勤務区分</th>
                <th>事由</th>
                <th>出勤</th>
                <th>退勤</th>
                <th>コメント</th>
              </tr>
            </thead>

           departments.each do |department|
            <tboby>
              <tr>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
              </tr>
            </tbody>
            end
        </table>
      </div>

    </div>
    </div>
  </div>
</main>