<main>
  <div class="container">
    <div class="row">

      <div class="col-lg-2">
      <%= render 'admins/adminside', admin: @admin %>
      </div>

      <div class="col-lg-10">
        <h2>在席一覧</h2>

        <div class="worker_field">
          <table class="table table-inverse">
            <thead>
              <tr>
                <th>所属</th>
                <th>氏名</th>
                <th>出退勤</th>
                <th>事由</th>
              </tr>
            </thead>

            <% @workers.each do |worker| %>
            <tboby>
              <tr>
                <td>
                  <%= worker.department.department_name %>
                </td>
                <td>
                  <%= worker.last_name %><%= worker.first_name %>
                </td>
                <td>
                  attendance_statusを表示
                </td>

                <td>
                  <%#= worker.attendances.reason_status %>        <!--当日の事由を表示-->
                </td>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
      </div>

    </div>
  </div>
</main>